!.gitignore
!default.mode1v3
!default.mode2v3
!default.pbxuser
!default.perspectivev3
!default.xcworkspace
$RECYCLE.BIN/
*.[Pp]ublish.xml
*.[Rr]e[Ss]harper
*.a
*.app
*.aps
*.bak
*.build.csdef
*.Cache
*.class
*.dbmdl
*.dll
*.dylib
*.ear
*.exe
*.gpState
*.ilk
*.jar
*.la
*.lai
*.launch
*.lib
*.lo
*.log
*.meta
*.mode1v3
*.moved-aside
*.ncb
*.ncrunch*
*.o
*.obj
*.opensdf
*.out
*.pbxuser
*.pch
*.pdb
*.perspectivev3
*.pgc
*.pgd
*.pidb
*.psess
*.Publish.xml
*.pydevproject
*.resources
*.rsp
*.sbr
*.scc
*.sdf
*.sln.docstates
*.slo
*.so
*.so.*
*.suo
*.swp
*.tlb
*.tlh
*.tli
*.tmp
*.un~
*.user
*.userprefs
*.usertasks
*.vsp
*.vspscc
*.vspx
*.vssscc
*.war
*.xcworkspace
*_i.c
*_p.c
*~
*~.nib
.*.sw[a-z]
.*crunch*.local.xml
._*
.AppleDouble
.buildpath
.builds
.cproject
.DS_Store
.externalToolBuilders/
.idea/
.loadpath
.LSOverride
.metadata
.netrwhist
.settings/
.Spotlight-V100
.svn/
.classpath
.Trashes
[Bb]in
[Bb]in/
[Bb]uild[Ll]og.*
[Dd]ebug*/
[Dd]ebug/
[Ee]xpress
[Oo]bj
[Oo]bj/
[Rr]elease/
[Ss]tyle[Cc]op.*
[Tt]est[Rr]esult
[Tt]est[Rr]esult*
_ReSharper*
_ReSharper*/
_UpgradeReport_Files/
~$*
AppPackages/
Backup*/
bin/**
ClientBin
cmake_install.cmake
CMakeCache.txt
CMakeFiles
csx
DerivedData
Desktop.ini
dist/
DocProject/buildhelp/
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/*.HxC
DocProject/Help/*.HxT
DocProject/Help/html
DocProject/Help/Html2
ehthumbs.db
Generated_Code #added for RIA/Silverlight projects
Icon
install_manifest.txt
ipch/
local.properties
Makefile
nbactions.xml
nbbuild/
nb-configuration.xml
nbdist/
nbproject/private/
packages
packages/
publish
Session.vim
sql
target/
TestResults
test-results/
Thumbs.db
tmp/**
tmp/**/*
UpgradeLog*.XML
x64/
xcuserdata
.project
test-output/
node_modules/